<ion-header>
  <ion-navbar>
    <ion-title>
      Transaction History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row responsive-md>
			<ion-col width-25>
				<ion-list>

					<ion-item>
						<ion-label>Records</ion-label>
						<ion-select interface="action-sheet" [(ngModel)]="toolbar.record">
							<ion-option value="ALL" selected="true">All Records</ion-option>
							<ion-option value="S0001">Share 0001</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label>From Date</ion-label>
						<ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [(ngModel)]="toolbar.fromDate"></ion-datetime>
					</ion-item>
					<ion-item>
						<ion-label>To Date</ion-label>
						<ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [(ngModel)]="toolbar.toDate"></ion-datetime>
					</ion-item>

					<ion-item>
						<button ion-button (click)="getMessages()">Select Matches</button> <!--(click)="getMessages()"-->
					</ion-item>

				</ion-list>
			</ion-col>

			<!--right side column-->

			<ion-col width-75>
				
				<!--<table class="table table-condensed table-hover jha-table">
					<thead>
					<tr class="jha-column-header">
						<th class="jha-date jha-column-heading">Post Date</th>
						<th class="jha-text jha-column-heading">ID</th>
						<th class="jha-date jha-column-heading">Eff Date</th>
						<th class="jha-text jha-column-heading">Transaction</th>
						<th class="jha-money jha-column-heading">Trans Amt</th>
						<th class="jha-money jha-column-heading">Balance Chge</th>
						<th class="jha-money jha-column-heading">Int/Pnlty</th>
						<th class="jha-money jha-column-heading">Fees</th>
						<th class="jha-money jha-column-heading">New Balance</th>
						<th class="jha-text jha-column-heading">Description</th>
					</tr>
					</thead>
					<tbody *ngFor="let message of messages; let index = index" [class.odd]="index%2 == 1">
					<tr *ngIf="message.symMessage.CmtFlag != '1'" (click)="onMessageClick(index)">
						<td class="jha-date">{{message.symMessage.PostDate | jhaDateString }}</td>
						<td class="jha-text">{{message.symMessage.IDType == '0' ? 'S' : 'L'}} {{message.symMessage.ID}}</td>
						<td class="jha-date">{{message.symMessage.EffDate | jhaDateString}}</td>
						<td class="jha-text">{{message.symMessage.Tran }}</td>
						<td class="jha-money">{{message.symMessage.TranAmount | jhaMoney | number:'1.2-2' }}</td>
						<td class="jha-money">{{message.symMessage.BalChg | jhaMoney | number:'1.2-2' }}</td>
						<td class="jha-money">{{message.symMessage.IntPen | jhaMoney | number:'1.2-2' }}</td>
						<td class="jha-money">{{message.symMessage.Fee | jhaMoney | number:'1.2-2' }}</td>
						<td class="jha-money">{{message.symMessage.NewBal | jhaMoney | number:'1.2-2' }}</td>
						<td class="jha-text">{{message.symMessage.description}}</td>
						<td class="jha-text">{{message.symMessage.CmtFlag}}</td>
					</tr>

					Detail

					<tr *ngIf="(view.showDetail || message.showDetail) && message.symMessage.CmtFlag != '1'" (click)="onMessageClick(index)">
						<td colspan="11">
						<table class="table table-condensed table-hover jha-detail-table">
							<tbody>
							<tr *ngFor="let detailRow of message.detailRows; let index = index" [class.odd]="index%2 == 1">
							<td *ngFor="let detailColumn of detailRow.detailColumns" [class]="detailColumn.className">
								{{detailColumn.dataType == 1 ? (detailColumn.value | jhaDateString) : ( detailColumn.dataType == 2 ? (detailColumn.value | jhaMoney | number:'1.2-2') : detailColumn.value)}}
							</td>
							</tbody>
						</table>
					</tr>
					<tr *ngIf="message.symMessage.CmtFlag == '1'">
						<td colspan="3"></td>
						<td colspan="8" class="jha-comment">{{message.symMessage.Comment}}</td>
					</tr>
					</tbody>

				</table>-->

				<ion-grid class="jha-table" *ngFor="let message of messages; let index = index" [class.odd]="index%2 == 1">

					<ion-row>
						<ion-col width-25>

							<ion-grid>

								<ion-row *ngIf="index == 0" class="jha-table-col-heading">
									<ion-col jha-column-heading>Post Date</ion-col>
									<ion-col jha-column-heading>ID</ion-col>
									<ion-col jha-column-heading>Eff Date</ion-col>
								</ion-row>

								<ion-row *ngIf="message.symMessage.CmtFlag != '1'" (click)="onMessageClick(index)">
									<ion-col class="jha-date">{{message.symMessage.PostDate | jhaDateString }}</ion-col>
									<ion-col class="jha-text">{{message.symMessage.IDType == '0' ? 'S' : 'L'}} {{message.symMessage.ID}}</ion-col>
									<ion-col class="jha-date">{{message.symMessage.EffDate | jhaDateString}}</ion-col>
								</ion-row>

							</ion-grid>

						</ion-col>
						<ion-col width-75>
							<ion-grid>

								<ion-row *ngIf="index == 0" class="jha-table-col-heading">
									<ion-col jha-column-heading>Transaction</ion-col>
									<ion-col jha-column-heading>Trans Amt</ion-col>
									<ion-col jha-column-heading>Balance Chge</ion-col>
									<ion-col jha-column-heading>Int/Pnlty</ion-col>
									<ion-col jha-column-heading>Fees</ion-col>
									<ion-col jha-column-heading>New Balance</ion-col>
									<ion-col jha-column-heading>Description</ion-col>
								</ion-row>

								<ion-row *ngIf="message.symMessage.CmtFlag != '1'" (click)="onMessageClick(index)">
									<ion-col class="jha-text">{{message.symMessage.Tran }}</ion-col>
									<ion-col class="jha-money">{{message.symMessage.TranAmount | jhaMoney | number:'1.2-2' }}</ion-col>
									<ion-col class="jha-money">{{message.symMessage.BalChg | jhaMoney | number:'1.2-2' }}</ion-col>
									<ion-col class="jha-money">{{message.symMessage.IntPen | jhaMoney | number:'1.2-2' }}</ion-col>
									<ion-col class="jha-money">{{message.symMessage.Fee | jhaMoney | number:'1.2-2' }}</ion-col>
									<ion-col class="jha-money">{{message.symMessage.NewBal | jhaMoney | number:'1.2-2' }}</ion-col>
									<ion-col class="jha-text">{{message.symMessage.description}}</ion-col>
								</ion-row>

								<ion-row *ngIf="message.symMessage.CmtFlag == '1'">
									<ion-col class="jha-comment" width-50>{{message.symMessage.Comment}}</ion-col>
								</ion-row>

							</ion-grid>
						</ion-col>
					</ion-row>

					<!--Detail-->

					<ion-row *ngIf="(view.showDetail || message.showDetail) && message.symMessage.CmtFlag != '1'" (click)="onMessageClick(index)">
						<ion-col>
							<ion-grid>
								<ion-row *ngFor="let detailRow of message.detailRows; let index = index" [class.odd]="index%2 == 1">
									<ion-col *ngFor="let detailColumn of detailRow.detailColumns" [class]="detailColumn.className">
										{{detailColumn.dataType == 1 ? (detailColumn.value | jhaDateString) : ( detailColumn.dataType == 2 ? (detailColumn.value | jhaMoney | number:'1.2-2') : detailColumn.value)}}
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>



				</ion-grid>

				<!--<ion-grid class="jha-table" *ngFor="let message of messages; let index = index" [class.odd]="index%2 == 1">
					<ion-row *ngIf="index == 0" class="jha-table-col-heading">
						<ion-col jha-column-heading>Post Date</ion-col>
						<ion-col jha-column-heading>ID</ion-col>
						<ion-col jha-column-heading>Eff Date</ion-col>
						<ion-col jha-column-heading>Transaction</ion-col>
						<ion-col jha-column-heading>Trans Amt</ion-col>
						<ion-col jha-column-heading>Balance Chge</ion-col>
						<ion-col jha-column-heading>Int/Pnlty</ion-col>
						<ion-col jha-column-heading>Fees</ion-col>
						<ion-col jha-column-heading>New Balance</ion-col>
						<ion-col jha-column-heading>Description</ion-col>
					</ion-row>

					<ion-row *ngIf="message.symMessage.CmtFlag != '1'" (click)="onMessageClick(index)">

						<ion-col class="jha-date">{{message.symMessage.PostDate | jhaDateString }}</ion-col>
						<ion-col class="jha-text">{{message.symMessage.IDType == '0' ? 'S' : 'L'}} {{message.symMessage.ID}}</ion-col>
						<ion-col class="jha-date">{{message.symMessage.EffDate | jhaDateString}}</ion-col>
						<ion-col class="jha-text">{{message.symMessage.Tran }}</ion-col>
						<ion-col class="jha-money">{{message.symMessage.TranAmount | jhaMoney | number:'1.2-2' }}</ion-col>
						<ion-col class="jha-money">{{message.symMessage.BalChg | jhaMoney | number:'1.2-2' }}</ion-col>
						<ion-col class="jha-money">{{message.symMessage.IntPen | jhaMoney | number:'1.2-2' }}</ion-col>
						<ion-col class="jha-money">{{message.symMessage.Fee | jhaMoney | number:'1.2-2' }}</ion-col>
						<ion-col class="jha-money">{{message.symMessage.NewBal | jhaMoney | number:'1.2-2' }}</ion-col>
						<ion-col class="jha-text">{{message.symMessage.description}}</ion-col>
					</ion-row>

					<ion-row *ngIf="message.symMessage.CmtFlag == '1'">
						<ion-col class="jha-text" width-20></ion-col>
						<ion-col class="jha-text" width-10></ion-col>
						<ion-col class="jha-comment" width-50>{{message.symMessage.Comment}}</ion-col>
						<ion-col class="jha-text" width-20></ion-col>
					</ion-row>

				</ion-grid>-->


			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
